[submodule "Resemblyzer"]
	path = Resemblyzer
	url = git@github.com:resemble-ai/Resemblyzer.git
[submodule "uis-rnn"]
	path = uis-rnn
	url = git@github.com:google/uis-rnn.git
[submodule "pyannote-audio"]
	path = pyannote-audio
	url = git@github.com:pyannote/pyannote-audio.git
[submodule "sentencepiece"]
	path = sentencepiece
	url = git@github.com:google/sentencepiece.git
